:root {
  --color-primary: #7CB342;
  --color-primary-dark: #33691E;
  --color-primary-darker: #689F38;
  --color-primary-light: #AED581;
  --color-primary-lighter: #C5E1A5;
  --color-secondary: #F4511E;
  --color-secondary-dark: #BF360C;
  --color-secondary-light: #FF8A65;
  --color-secondary-lighter: #FFAB91;
  --font-family-title: 'Comfortaa', cursive;
  --font-family-heading: 'Raleway', sans-serif;
  --font-family-normal: 'Open Sans', sans-serif;
  --font-family-thin: 'Open Sans Condensed', sans-serif;
  --color-background: #F0F0F0;
  --height-navbar: 50px; }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

nav {
  height: var(--height-navbar);
  width: 100vw;
  background-color: #fff;
  top: 0;
  padding: 0 0 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .left {
    display: flex;
    align-items: center; }
    nav .left img {
      width: auto;
      height: calc(var(--height-navbar) - 10px);
      margin: 0 10px 0 4px; }
    nav .left h1 {
      margin: 0;
      padding: 0;
      font-family: var(--font-family-title); }
      nav .left h1 a {
        text-decoration: none;
        color: var(--color-primary-darker);
        font-weight: 800;
        font-size: 18px; }
        nav .left h1 a:hover {
          color: var(--color-primary); }
  nav .right {
    display: flex;
    align-items: center;
    height: 100%; }
    nav .right ul {
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center; }
      nav .right ul li {
        height: 100%; }
        nav .right ul li a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 16px;
          text-decoration: none;
          color: #000;
          font-weight: 600;
          font-size: 16px; }
          nav .right ul li a:hover {
            color: #404040; }
        nav .right ul li.login a {
          background-color: var(--color-secondary);
          color: #fff; }
          nav .right ul li.login a:hover {
            background-color: var(--color-secondary-light);
            color: #fff; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-normal);
  background-color: var(--color-background);
  overflow-x: hidden; }

input {
  font-family: var(--font-family-thin);
  font-weight: 100; }
  input::placeholder {
    font-family: var(--font-family-thin);
    font-weight: 100; }

header {
  display: flex;
  flex-direction: column; }
  header .title {
    position: relative;
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .title .forms .section-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header .title .forms .section-1 h2 {
        font-size: 32px;
        color: rgba(255, 255, 255, 0.9);
        font-family: var(--font-family-heading);
        font-weight: 300; }
      header .title .forms .section-1 form {
        display: flex;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 8px;
        background-color: #fff;
        overflow: hidden; }
        header .title .forms .section-1 form input {
          padding: 12px 18px;
          font-size: 14px;
          margin: 0;
          border: none;
          outline: none;
          background-color: transparent;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          width: 192px; }
          header .title .forms .section-1 form input.num {
            width: 100px; }
          header .title .forms .section-1 form input.when {
            width: 100px; }
        header .title .forms .section-1 form button {
          border: none;
          margin: none;
          padding: 12px 18px;
          background-color: var(--color-primary);
          color: #fff;
          cursor: pointer;
          font-size: 14px; }
          header .title .forms .section-1 form button:hover {
            background-color: var(--color-primary-light); }
    header .title .forms .section-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 16px; }
      header .title .forms .section-2 span {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        color: #fff; }
      header .title .forms .section-2 a {
        text-decoration: none;
        color: #fff;
        background-color: var(--color-primary);
        font-size: 16px;
        font-weight: 800;
        padding: 12px 18px;
        border-radius: 8px; }
        header .title .forms .section-2 a:hover {
          background-color: var(--color-primary-light); }
  header .bottom-bar {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: #fffb;
    border-bottom: 1px solid #0005;
    border-top: 1px solid #0005;
    color: #000b; }
    header .bottom-bar ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
      header .bottom-bar ul li {
        height: 100%;
        width: calc(100vw / 6);
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: var(--font-family-normal);
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none; }
        header .bottom-bar ul li i {
          margin-right: 10px; }

.gallery-section {
  display: flex;
  flex-direction: column;
  margin: 48px 0 0 0;
  width: 75%; }
  .gallery-section h2 {
    font-family: var(--font-family-heading);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0;
    margin: 10px 10px; }
    .gallery-section h2 a {
      text-decoration: none;
      color: var(--color-secondary); }
      .gallery-section h2 a:hover {
        color: var(--color-secondary-light); }
    .gallery-section h2 i {
      margin-left: 16px;
      -webkit-text-stroke: 2px var(--color-background); }
  .gallery-section .gallery {
    width: 70vw;
    height: 600px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: "first first third fourth" "first first second second" "fifth sixth second second"; }
    .gallery-section .gallery .item {
      margin: 10px;
      background-color: #000; }
      .gallery-section .gallery .item:nth-child(1) {
        grid-area: first; }
      .gallery-section .gallery .item:nth-child(2) {
        grid-area: second; }
      .gallery-section .gallery .item:nth-child(3) {
        grid-area: third; }
      .gallery-section .gallery .item:nth-child(4) {
        grid-area: fourth; }
      .gallery-section .gallery .item:nth-child(5) {
        grid-area: fifth; }
      .gallery-section .gallery .item:nth-child(6) {
        grid-area: sixth; }

#activities {
  display: flex;
  width: 100vw;
  margin-top: 64px; }
  #activities .activity {
    flex-grow: 1;
    /* To keep square */ }
    #activities .activity::before {
      content: "";
      padding-bottom: 100%;
      display: block; }
    #activities .activity:nth-child(1) {
      background-color: #e57373; }
    #activities .activity:nth-child(2) {
      background-color: #BA68C8; }
    #activities .activity:nth-child(3) {
      background-color: #7986CB; }
    #activities .activity:nth-child(4) {
      background-color: #4DD0E1; }
    #activities .activity:nth-child(5) {
      background-color: #81C784; }
    #activities .activity:nth-child(6) {
      background-color: #FFD54F; }

#deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 256px; }
  #deals h2 {
    margin: 0 0 32px 0;
    padding: 0;
    font-family: var(--font-family-heading); }
  #deals form {
    display: flex;
    border: 1px solid #0004; }
    #deals form input {
      padding: 10px 16px;
      outline: none;
      border: none; }
    #deals form button {
      outline: none;
      border: none;
      background-color: var(--color-primary);
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      padding: 10px 16px; }
      #deals form button:hover {
        background-color: var(--color-primary-light); }

footer {
  height: 316px;
  background-color: #fff;
  width: 100vw; }

#status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  font-size: 11px;
  font-weight: 600;
  font-family: var(--font-family-heading);
  color: #303030; }

/*# sourceMappingURL=index1.css.map */
