:root {
  --color-primary: #1E88E5;
  --color-primary-dark: #1565C0;
  --color-primary-darker: #0D47A1;
  --color-primary-light: #64B5F6;
  --color-primary-lighter: #90CAF9;
  --color-tertiary: #F4511E;
  --color-tertiary-dark: #BF360C;
  --color-tertiary-light: #FF8A65;
  --color-tertiary-lighter: #FFAB91;
  --color-secondary: #7CB342;
  --color-secondary-dark: #689F38;
  --color-secondary-darker: #33691E;
  --color-secondary-light: #AED581;
  --color-secondary-lighter: #C5E1A5;
  --font-family-title: 'Comfortaa', cursive;
  --font-family-heading: 'Raleway', sans-serif;
  --font-family-normal: 'Open Sans', sans-serif;
  --font-family-thin: 'Open Sans Condensed', sans-serif;
  --color-background: #f0f0f0;
  --height-navbar: 50px; }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-family-normal);
  background-color: var(--color-background); }

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: var(--height-navbar);
  justify-content: space-between;
  z-index: 1000;
  background-color: #fff0; }
  nav .left {
    display: flex;
    height: 100%;
    text-decoration: none;
    color: #fff;
    margin-left: 16px; }
    nav .left h1 {
      display: flex;
      align-items: center;
      height: 100%;
      font-family: var(--font-family-title);
      font-weight: 800;
      font-size: 18px;
      margin: 0; }
      nav .left h1 img {
        width: auto;
        height: calc(100% - 10px);
        margin-left: -64px;
        margin-right: 10px;
        opacity: 0;
        transition: all 0.4s ease-in-out; }
    nav .left:hover {
      color: var(--color-secondary); }
  nav .right {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 16px; }
    nav .right ul {
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center; }
      nav .right ul li {
        height: 100%; }
        nav .right ul li a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 16px;
          text-decoration: none;
          color: #e0e0e0;
          font-weight: 600;
          font-size: 12px;
          text-transform: uppercase; }
          nav .right ul li a:hover {
            color: #f0f0f0; }
        nav .right ul li.login a {
          color: var(--color-primary-lighter); }
          nav .right ul li.login a:hover {
            color: var(--color-primary-light); }
  nav.scrolled {
    background-color: #ffff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5); }
    nav.scrolled .left h1 {
      color: var(--color-secondary-darker); }
    nav.scrolled .left img {
      margin-left: 0;
      opacity: 1; }
    nav.scrolled ul li a {
      color: #000; }
      nav.scrolled ul li a:hover {
        color: #404040; }

header {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: brightness(0.8); }
  header .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 256px; }
    header .section-1 h2 {
      font-size: 32px;
      color: rgba(255, 255, 255, 0.9);
      font-family: var(--font-family-heading);
      font-weight: 300; }
    header .section-1 form {
      display: flex;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
      border-radius: 8px;
      background-color: #fff;
      overflow: hidden; }
      header .section-1 form input {
        padding: 12px 18px;
        font-size: 14px;
        margin: 0;
        border: none;
        outline: none;
        background-color: transparent;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        width: 192px; }
        header .section-1 form input.num {
          width: 100px; }
        header .section-1 form input.when {
          width: 100px; }
      header .section-1 form button {
        border: none;
        margin: none;
        padding: 12px 18px;
        background-color: var(--color-primary);
        color: #fff;
        cursor: pointer;
        font-size: 14px; }
        header .section-1 form button:hover {
          background-color: var(--color-primary-light); }
  header .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    z-index: 100; }
    header .section-2 span {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 800;
      color: #fff; }
    header .section-2 a {
      text-decoration: none;
      color: #fff;
      background-color: var(--color-primary);
      font-size: 16px;
      font-weight: 800;
      padding: 12px 18px;
      border-radius: 8px; }
      header .section-2 a:hover {
        background-color: var(--color-primary-light); }

#activities {
  z-index: 100;
  margin-top: 192px;
  bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #activities .activity {
    position: relative;
    height: 192px;
    width: 192px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    overflow: hidden; }
    #activities .activity img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      filter: brightness(0.6);
      transition: all 0.4s ease-in-out; }
    #activities .activity span {
      color: #fff;
      text-transform: uppercase;
      z-index: 10;
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 32px;
      text-align: center;
      transition: all 0.4s ease-in-out; }
    #activities .activity:hover img {
      transform: scale(1.1);
      filter: brightness(0.4); }
    #activities .activity:hover span {
      margin-bottom: 64px;
      font-size: 20px; }

#deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 64px 0 32px 0; }
  #deals h2 {
    font-family: var(--font-family-heading);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 32px;
    color: var(--color-primary-darker); }
  #deals .cards {
    width: 70%; }
    #deals .cards .package {
      position: relative;
      transition: all 0.4s ease-in-out; }
      #deals .cards .package .img-container {
        overflow: hidden;
        width: 100%;
        height: 100%; }
        #deals .cards .package .img-container img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center; }
      #deals .cards .package .days {
        position: absolute;
        text-align: center;
        top: 8px;
        right: 8px;
        border-radius: 18px;
        font-size: 12px;
        font-weight: 700;
        padding: 8px 16px;
        background-color: var(--color-tertiary-dark);
        color: #fff; }
      #deals .cards .package h4 {
        position: absolute;
        bottom: 32px;
        left: 0;
        z-index: 10;
        padding: 14px 16px 8px;
        margin: 0;
        font-weight: 600;
        width: 100%;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.6);
        font-family: var(--font-family-title);
        color: #fff; }
      #deals .cards .package .deal {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 32px;
        text-align: left;
        padding: 8px 16px;
        font-size: 12px;
        font-weight: 600;
        font-family: var(--font-family-heading);
        color: #fff;
        background-color: #000a;
        display: flex;
        align-items: center; }
      #deals .cards .package:hover {
        transform: scale(1.04);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8); }

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .cards .card {
    width: 272px;
    height: 300px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 32px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden; }

#destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 64px; }
  #destinations h2 {
    font-family: var(--font-family-heading);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 32px;
    color: var(--color-primary-darker); }
  #destinations .list {
    display: flex;
    width: 100%;
    margin-top: 32px;
    justify-content: center;
    align-items: center; }
    #destinations .list .destination {
      position: relative;
      display: block;
      width: calc(100vw / 6);
      height: calc(100vw / 6);
      overflow: hidden;
      margin: 0 16px; }
      #destinations .list .destination img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center; }
      #destinations .list .destination h4 {
        position: absolute;
        text-decoration: none;
        padding: 0 16px;
        background-color: #000a;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        font-family: var(--font-family-heading);
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        transition: all 0.4s ease-in-out;
        display: flex;
        align-items: center;
        height: 48px; }
      #destinations .list .destination:hover h4 {
        height: 72px; }

#explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 72px 0 0 0;
  height: 100vh;
  background-color: var(--color-primary-lighter); }
  #explore h2 {
    font-family: var(--font-family-heading);
    font-weight: 200;
    text-transform: uppercase;
    font-size: 32px;
    color: #fff;
    margin: 0 0 64px 0; }
  #explore .map {
    width: 560px; }
    #explore .map svg > path {
      fill: #eee;
      stroke-width: 1px;
      stroke: var(--color-primary-dark);
      cursor: pointer; }
      #explore .map svg > path:hover {
        fill: var(--color-secondary-lighter); }
  #explore .summary {
    display: flex;
    margin-top: 32px;
    font-family: var(--font-family-heading); }
    #explore .summary .item {
      margin: 0 20px;
      color: #fff;
      font-size: 18px;
      font-weight: 800; }
      #explore .summary .item i {
        margin-right: 8px;
        font-size: 24px; }
  #explore .summary-2 {
    display: flex;
    margin-top: 48px;
    align-items: flex-end;
    font-family: var(--font-family-heading); }
    #explore .summary-2 a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase; }
      #explore .summary-2 a:not(:last-child) {
        margin-right: 64px; }
      #explore .summary-2 a span {
        font-size: 32px;
        margin-right: 8px; }
  #explore .links {
    display: flex;
    margin-top: 64px; }
    #explore .links a {
      text-decoration: none;
      color: #fff;
      background-color: #000a;
      padding: 16px 32px;
      font-size: 13px;
      font-weight: 800;
      transition: all 0.4s ease-in-out;
      margin: 0 16px;
      border-radius: 32px;
      font-family: var(--font-family-title); }
      #explore .links a:hover {
        color: #fffb; }

#subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 256px;
  background-color: var(--color-primary-darker); }
  #subscription h2 {
    margin: 0 0 32px 0;
    padding: 0;
    font-family: var(--font-family-heading);
    color: #fff; }
  #subscription form {
    display: flex;
    border: 1px solid #0004;
    border-radius: 12px;
    overflow: hidden; }
    #subscription form input {
      padding: 10px 16px;
      outline: none;
      border: none; }
    #subscription form button {
      outline: none;
      border: none;
      background-color: var(--color-secondary);
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      padding: 10px 16px; }
      #subscription form button:hover {
        background-color: var(--color-secondary-light); }

footer {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-darker);
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0 0 164px 0; }
  footer section {
    width: calc(100% / 6); }
    footer section h3 {
      font-family: var(--font-family-heading);
      font-size: 16px;
      font-weight: 600;
      margin: 16px 0;
      color: #fff;
      text-transform: uppercase; }
    footer section a {
      display: block;
      color: #fff;
      text-decoration: none;
      margin: 8px 0; }
      footer section a:hover {
        color: #fffa; }

#status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  font-size: 11px;
  font-weight: 600;
  font-family: var(--font-family-heading);
  background-color: var(--color-primary-dark);
  color: #fff; }

/*# sourceMappingURL=index.css.map */
