@import 'base';

nav {
    width: 100vw;
    background-color: var(--color-primary-dark);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#filters {
    display: flex;
    align-items: center;
    margin: 92px 0 0 0;
    // height: 200px;
    // width: 100vw;
    padding: 0;
    justify-content: center;
    background-color: #fff; // var(--color-primary-dark);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    border-radius: 16px;
    overflow: hidden;
    height: 48px;

    .filter {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 0; // 16px;
        cursor: pointer;
        padding: 0 8px;
        width: 142px;

        label {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            margin: 4px 10px;
            cursor: pointer;
            color: #666;

        }

        .input {
            display: none;
            // position: relative;
            // background: #fff;
            // border: none;
            // outline: none;
            // display: flex;
            // align-items: center;
            // padding: 0 10px;
            // width: 192px;
            // height: 48px;
            // // border-radius: 8px;
            // cursor: pointer;
        }

        &:not(:last-of-type) {
                border-right: 1px solid rgba(0,0,0,0.1);
        }

        // &:first-of-type {
        //     .input {
        //         border-top-left-radius: 10px;
        //         border-bottom-left-radius: 10px;
        //     }
        // }

        // &:last-of-type {
        //     .input {
        //         border-top-right-radius: 10px;
        //         border-bottom-right-radius: 10px;
        //     }
        // }

        &:hover {
            // label {
            //     color: #fff;
            // }
            // .input {
            //     background: #fff;
            // }
        }
    }

    .search {
        background-color: var(--color-secondary);
        color: #fff;
        // background-color: transparent;
        // color: var(--color-secondary);
        border: none;
        outline: none;
        cursor: pointer;
        // margin: 0 0 0 8px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 72px;
        font-size: 22px;
        // border-radius: 16px;
        // border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;

        &:hover {
            // color: var(--color-secondary-light);
            background-color: var(--color-secondary-light);
        }

    }
}

#packages {
    display: flex;
    flex-wrap: wrap;
    margin: 42px 0;
    width: 100vw;
    justify-content: center;

    .package {
        position: relative;
        width: 356px;
        height: 400px;
        margin: 16px 32px;
        background-color: #fff;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
        cursor: pointer;
        text-decoration: none;
        color: #000;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .img-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            z-index: 100;
            height: 0;
            // background-color: #1565C0ee;
            background-color: #000e;
            overflow: hidden;
            color: #fff;

            transition: all 0.4s ease-in-out;

            > div {
                display: flex;
                justify-content: space-between;
                padding: 2px 16px;
                font-size: 12px;
                text-transform: uppercase;
                color: #fffa;

                > span {
                    text-transform: initial;
                    color: #fff;
                    font-family: var(--font-family-heading2);
                }
            }
        }

        .summary {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            z-index: 100;
            background-color: #000a;
            color: #fff;
            padding-bottom: 8px;
            min-height: 68px;
            align-content: flex-start;

            transition: all 0.4s ease-in-out;

            h4 {
                width: 100%;
                margin: 10px 16px;
                text-align: left;
                font-size: 18px;
                font-weight: 600;
                font-family: var(--font-family-heading);
            }
    
            .days {
                margin-left: 16px;
                font-size: 14px;
                font-weight: 600;
                font-family: var(--font-family-heading2);
                color: var(--color-primary);
                text-transform: uppercase;
    
                i { margin-right: 4px; }
            }
    
            .price {
                margin-left: 16px;
                font-size: 14px;
                font-weight: 600;
                font-family: var(--font-family-heading2);
                color: var(--color-secondary);
                text-transform: uppercase;
    
                i { margin-right: 4px; }
            }
        }


        .deal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 8px 10px;
            background-color: var(--color-tertiary);
            color: #fff;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-family: var(--font-family-heading);
        }

        &:hover {
            .details {
                padding: 8px 0;
                height: 82px;
            }
        }
    }
}
